body {
  background-image: url("images/index/grasslayers.png");
  font-family: Raleway, Helvetica, Arial, sans-serif;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

h1 {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}

h2 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dotted #FFFFFF;
  margin: 0;
  padding: 50px 100px 50px 100px;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-list {
  background-color: #343A40;
  height:25px;
  text-align:center;
  margin-bottom: 0px;
}

.footer-li {
  display:inline-block;
  font-size:16px;
  vertical-align:middle;
  color:#fff;
}

.footer-a:link {
  color:#fff;
}

.footer-a:hover {
  color: #F2E963;
  text-decoration: underline;
}

.footer-a:visited {
  color: skyblue;
}

.nav-link:link {
  color: #FFF;
}

.nav-link:active {
  color: #F2E963;
}

.nav-link:hover {
  color: #F2E963;
}

.nav-brand{
  color:#F2E963;
  font-weight:600;
  letter-spacing:.15em;
}
