body {
  font-family: Raleway, "Open Sans", Helvetica, Arial, sans-serif;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

h1 {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}

h2 {
  color: #010326;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dotted #FFFFFF;
  margin: 0;
  padding: 50px 100px 50px 100px;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343A40;
  height:25px;
  text-align:center;
  margin-bottom: 0px;
}

/* .footer-list {
  background-color: #343A40;
  height:25px;
  text-align:center;
  margin-bottom: 0px;
} */

.footer-text {
  display:inline-block;
  font-size:16px;
  vertical-align:middle;
  color:#fff;
}

.footer-a:link {
  color:#fff;
}

.footer-a:hover {
  color: #F2E963;
  text-decoration: underline;
}

.footer-a:visited {
  color: skyblue;
}

.nav-link:link {
  color: #FFF;
}

.nav-link:active {
  color: #F2E963;
}

.nav-link:hover {
  color: #F2E963;
}

.nav-brand{
  color:#F2E963;
  font-weight:600;
  letter-spacing:.15em;
}

#header {
  width: 100%;
  height: 250px;
  background-image:linear-gradient(to right, #010326, #020659);
}

#header-headline {
  font-size: 72px;
  font-weight: 100;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
  line-height: 250px;
}

.btn-primary {
  background-color: #010326 !important;
}

.btn-primary:hover {
  background-color: #020659 !important;
  color: #F2E963 !important;
}
